USE [master]
GO
/****** Object:  Database [Proje-2]    Script Date: 11.08.2025 11:00:45 ******/
CREATE DATABASE [Proje-2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Proje-2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Proje-2.mdf' , SIZE = 204800KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Proje-2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Proje-2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Proje-2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Proje-2]
GO
/****** Object:  Table [dbo].[cleaned_health_data (1)]    Script Date: 11.08.2025 11:00:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cleaned_health_data (1)](
	[survey_code] [varchar](50) NULL,
	[age] [varchar](50) NULL,
	[gender] [varchar](50) NULL,
	[height] [varchar](50) NULL,
	[weight] [varchar](50) NULL,
	[bmi] [varchar](50) NULL,
	[waist_size] [varchar](50) NULL,
	[blood_pressure] [varchar](50) NULL,
	[heart_rate] [varchar](50) NULL,
	[cholesterol] [varchar](50) NULL,
	[glucose] [varchar](50) NULL,
	[insulin] [varchar](50) NULL,
	[sleep_hours] [varchar](50) NULL,
	[sleep_quality] [varchar](50) NULL,
	[work_hours] [varchar](50) NULL,
	[physical_activity] [varchar](50) NULL,
	[daily_steps] [varchar](50) NULL,
	[calorie_intake] [varchar](50) NULL,
	[sugar_intake] [varchar](50) NULL,
	[alcohol_consumption] [varchar](50) NULL,
	[smoking_level] [varchar](50) NULL,
	[water_intake] [varchar](50) NULL,
	[screen_time] [varchar](50) NULL,
	[stress_level] [varchar](50) NULL,
	[mental_health_score] [varchar](50) NULL,
	[mental_health_support] [varchar](50) NULL,
	[education_level] [varchar](50) NULL,
	[job_type] [varchar](50) NULL,
	[occupation] [varchar](50) NULL,
	[income] [varchar](50) NULL,
	[diet_type] [varchar](50) NULL,
	[exercise_type] [varchar](50) NULL,
	[device_usage] [varchar](50) NULL,
	[healthcare_access] [varchar](50) NULL,
	[insurance] [varchar](50) NULL,
	[sunlight_exposure] [varchar](50) NULL,
	[meals_per_day] [varchar](50) NULL,
	[caffeine_intake] [varchar](50) NULL,
	[family_history] [varchar](50) NULL,
	[pet_owner] [varchar](50) NULL,
	[daily_supplement_dosage] [varchar](50) NULL,
	[target] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[health_lifestyle_classification]    Script Date: 11.08.2025 11:00:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[health_lifestyle_classification](
	[survey_code] [varchar](50) NULL,
	[age] [varchar](50) NULL,
	[gender] [varchar](50) NULL,
	[height] [varchar](50) NULL,
	[weight] [varchar](50) NULL,
	[bmi] [varchar](50) NULL,
	[bmi_estimated] [varchar](50) NULL,
	[bmi_scaled] [varchar](50) NULL,
	[bmi_corrected] [varchar](50) NULL,
	[waist_size] [varchar](50) NULL,
	[blood_pressure] [varchar](50) NULL,
	[heart_rate] [varchar](50) NULL,
	[cholesterol] [varchar](50) NULL,
	[glucose] [varchar](50) NULL,
	[insulin] [varchar](50) NULL,
	[sleep_hours] [varchar](50) NULL,
	[sleep_quality] [varchar](50) NULL,
	[work_hours] [varchar](50) NULL,
	[physical_activity] [varchar](50) NULL,
	[daily_steps] [varchar](50) NULL,
	[calorie_intake] [varchar](50) NULL,
	[sugar_intake] [varchar](50) NULL,
	[alcohol_consumption] [varchar](50) NULL,
	[smoking_level] [varchar](50) NULL,
	[water_intake] [varchar](50) NULL,
	[screen_time] [varchar](50) NULL,
	[stress_level] [varchar](50) NULL,
	[mental_health_score] [varchar](50) NULL,
	[mental_health_support] [varchar](50) NULL,
	[education_level] [varchar](50) NULL,
	[job_type] [varchar](50) NULL,
	[occupation] [varchar](50) NULL,
	[income] [varchar](50) NULL,
	[diet_type] [varchar](50) NULL,
	[exercise_type] [varchar](50) NULL,
	[device_usage] [varchar](50) NULL,
	[healthcare_access] [varchar](50) NULL,
	[insurance] [varchar](50) NULL,
	[sunlight_exposure] [varchar](50) NULL,
	[meals_per_day] [varchar](50) NULL,
	[caffeine_intake] [varchar](50) NULL,
	[family_history] [varchar](50) NULL,
	[pet_owner] [varchar](50) NULL,
	[electrolyte_level] [varchar](50) NULL,
	[gene_marker_flag] [varchar](50) NULL,
	[environmental_risk_score] [varchar](50) NULL,
	[daily_supplement_dosage] [varchar](50) NULL,
	[target] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
